.article_info
{
    margin-bottom: 12.4rem;
}


.article_info .head
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 143.2rem;
    max-width: 100%;
    margin-inline: auto;
    margin-bottom: 5.2rem;
}


.article_info .head .tags
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: .6rem;
}


.article_info .head .tags > *
{
    padding-block: 1.9rem;
    padding-inline: 3.1rem;

    font-size: 1.8rem;
    font-weight: 350;
    line-height: 150%;

    letter-spacing: .018rem;

    border-radius: 10rem;
    background: rgba(24, 24, 30, .10);

            backdrop-filter: blur(4rem);
    -webkit-backdrop-filter: blur(4rem);
}


.article_info .head .time,
.article_info .head .date
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: 2.4rem;

    font-size: 1.8rem;
    font-weight: 350;
    line-height: 150%;

    letter-spacing: .018rem;

    gap: 1rem;
}


.article_info .head .time .icon,
.article_info .head .date .icon
{
    display: block;

    width: 3.5rem;
    height: 3.5rem;

    color: rgba(24, 24, 30, .10);
}


.article_info .head .author
{
    margin-left: auto;
}


.article_info .head .h1
{
    width: 100%;
    margin-block: 3.8rem 0;
}



.article_info .author
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: fit-content;

    gap: 2rem;
}


.article_info .author .photo
{
    display: block;

    width: 7.2rem;
    height: 7.2rem;

    border-radius: 50%;
    background: rgba(24, 24, 30, .10);
}


.article_info .author .photo img
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
}


.article_info .author .photo + *
{
    display: flex;
    flex-direction: column;

    max-width: calc(100% - 9.2rem);

    gap: .4rem;
}


.article_info .author .name
{
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 120%;

    letter-spacing: -.028rem;
}


.article_info .author .post
{
    font-size: 1.2rem;
    line-height: 160%;

    letter-spacing: .012rem;
    text-transform: uppercase;

    color: #6b6b79;
}



.article_info .content-page__rte
{
    width: 119.6rem;
    max-width: 100%;
    margin-inline: auto;
}


.article_info .content-page__rte .message
{
    position: relative;

    overflow: hidden;

    margin-block: 5.2rem;
    padding-block: 3.2rem;
    padding-inline: 4rem;

    border-radius: 2rem;
    background: #fff;
}


.article_info .content-page__rte .message > *
{
    position: relative;

    z-index: 3;
}


.article_info .content-page__rte .message:before
{
    position: absolute;
    bottom: -3.3rem;
    left: 36.538%;

    display: block;

    width: 42.206rem;
    height: 11.136rem;

    content: '';
    z-index: 1;
    transform: rotate(-132.48deg);
    pointer-events: none;

    border-radius: 42.206rem;
    background: #79c9ff;

    filter: blur(14.7rem);
}


.article_info .content-page__rte .message:after
{
    position: absolute;
    right: -7.3rem;
    bottom: -3.1rem;

    display: block;

    width: 64.977rem;
    height: 15.294rem;

    content: '';
    z-index: 1;
    transform: rotate(40.9deg);
    pointer-events: none;

    border-radius: 64.977rem;
    background: #f8aeff;

    filter: blur(14.7rem);
}


.article_info .content-slider,
.article_info .video-common,
.article_info .doc-slider,
.article_info .content-pics-grid,
.article_info .content-quote
{
    margin-block: 5.2rem;
    padding-block: 0;
}


.article_info .content-slider img,
.article_info .video-common img,
.article_info .doc-slider img,
.article_info .content-pics-grid img
{
    margin: 0 !important;
}



.article_info .faq
{
    width: 119.6rem;
    max-width: 100%;
    margin-inline: auto;
    margin-top: 7.2rem;
}


.article_info .faq .block_title
{
    margin-bottom: 3.2rem;

    font-size: 6rem;
    font-weight: 300;
    line-height: 120%;

    letter-spacing: -.06rem;
}


.article_info .faq .accordion_item
{
    border-radius: 1.8rem;
    background: #fff;
}


.article_info .faq .accordion-item-visible
{
    padding-block: 1.3rem !important;

    cursor: pointer;
}


.article_info .faq .accordion-item-title
{
    font-size: 2rem !important;
    font-weight: 400;
    line-height: 1 !important;

    letter-spacing: .02rem !important;
}


.article_info .faq .accordion-item-content
{
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}



.articles
{
    width: 143.2rem;
    max-width: 100%;
    margin-inline: auto;
    margin-bottom: 5.2rem;
}


.articles .block_title
{
    margin-bottom: 5rem;

    font-size: 7.2rem;
    font-weight: 300;
    line-height: 100%;

    letter-spacing: -.072rem;
}



.articles .content-grid__buttons
{
    margin-top: 5rem;
}


.articles .content-grid__buttons .big-link
{
    min-width: 40.6rem;
    height: 10.1rem;
    padding: 1.8rem 2rem 1.8rem 4.4rem;

    font-size: 2.8rem;
    font-weight: 400;
    line-height: 100%;

    letter-spacing: .028rem;

    color: rgba(24, 24, 30, .64);
}


.articles .content-grid__buttons .big-link__icon
{
    width: 6.5rem;
    height: 6.5rem;
}


.articles .library-card__info
{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;

    max-width: 100%;
}


.articles .library-card__info__header
{
    width: calc(100% - 13.8rem);
}


.articles .library-card__text
{
    width: 32.7rem;
    max-width: 100%;
}


.articles .library-card__time
{
    font-family: inherit;
}


.articles .library-card__date
{
    position: absolute;
    top: 2.8rem;
    right: 2.8rem;

    font-size: 1.6rem;
    font-weight: 350;
    line-height: 150%;

    letter-spacing: .016rem;

    color: rgba(255, 255, 255, .50);
}


.articles .library-card__title
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 54.9rem;
    max-width: 100%;
    padding: 2.8rem;

    font-size: 4rem;
    font-weight: 300;
    line-height: 110%;

    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    transition-property: text-decoration-color;
    text-decoration: underline;
    letter-spacing: .04rem;

    color: #fff;

    text-underline-offset: .6rem;
    text-decoration-thickness: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    text-underline-offset: .4rem;
    text-decoration-color: transparent;
}


.articles .library-card:not(._large) .library-card__picture-wrapper .svgsprite
{
    top: auto;
    right: auto;
    bottom: 2.8rem;
    left: 2.8rem;
}


.articles .library-card:hover .library-card__title
{
    text-decoration-color: currentColor;
}


.articles .news-card
{
    aspect-ratio: auto;
}


.articles .news-card__date
{
    position: absolute;
    top: 2.8rem;
    right: 2.8rem;

    font-size: 1.6rem;
    font-weight: 350;
    line-height: 150%;

    letter-spacing: .016rem;

    color: rgba(255, 255, 255, .50);
}


.articles .news-card__text
{
    width: 48rem;
    max-width: 100%;
}



@media print,
(max-width: 1899px)
{
    .articles .library-card__info__header
    {
        width: calc(100% - 11.6rem);
    }



    .articles .news-card__date,
    .articles .library-card__date
    {
        top: 2.4rem;
        right: 2.4rem;

        font-size: 1.4rem;
    }


    .articles .library-card__title
    {
        padding: 2.4rem;

        font-size: 3.2rem;
    }
}



@media print,
(max-width: 1439px)
{
    .article_info .head .tags > *
    {
        padding-block: 1.2rem;
        padding-inline: 2.8rem;

        font-size: 1.3rem;

        letter-spacing: .013rem;
    }


    .article_info .content-page__rte
    {
        width: 78.9rem;
    }


    .article_info .content-page__rte .message
    {
        padding-block: 2.2rem;
    }



    .article_info .faq
    {
        width: 78.9rem;
        margin-top: 5.2rem;
    }


    .article_info .faq .block_title
    {
        display: none;
    }



    .articles
    {
        width: 114.8rem;
    }


    .articles .block_title
    {
        margin-bottom: 4rem;

        font-size: 4rem;

        letter-spacing: -.04rem;
    }


    .articles .content-grid__buttons .big-link
    {
        min-width: 36.1rem;
        height: 7.2rem;
        padding: 1rem 1.2rem 1rem 3.2rem;

        font-size: 2rem;

        letter-spacing: .02rem;
    }


    .articles .content-grid__buttons .big-link__icon
    {
        width: 5.2rem;
        height: 5.2rem;
    }


    .articles .library-card__info
    {
        width: 31.1rem;
    }


    .articles .news-card__date,
    .articles .library-card__date
    {
        top: 2rem;
        right: 2rem;
    }


    .articles .library-card__title
    {
        padding: 2rem;

        font-size: 2.8rem;
    }
}



@media print,
(max-width: 1023px)
{
    .article_info .head
    {
        margin-bottom: 2.8rem;
    }


    .article_info .head .tags > *
    {
        padding-block: .8rem;
        padding-inline: 2.1rem;
    }


    .article_info .head .author
    {
        width: 100%;
        margin-top: 2rem;
    }


    .article_info .author .photo
    {
        width: 5.8rem;
        height: 5.8rem;
    }


    .article_info .author .photo + *
    {
        max-width: calc(100% - 7.8rem);
    }


    .article_info .author .name
    {
        font-size: 2rem;

        letter-spacing: -.02rem;
    }


    .article_info .author .post
    {
        font-size: 1rem;

        letter-spacing: .01rem;
    }


    .article_info .content-page__rte .message
    {
        padding-inline: 3.2rem;
    }



    .articles .news-card,
    .articles .library-card:not(._large)
    {
        min-height: 350px;

        aspect-ratio: auto;
    }



    .articles .content-grid__buttons
    {
        margin-top: 2.8rem;
    }


    .articles .content-grid__buttons .big-link
    {
        min-width: 24.9rem;
        height: 5.7rem;
        padding: .6rem 1rem .6rem 3.2rem;

        font-size: 1.6rem;

        letter-spacing: .016rem;
    }


    .articles .content-grid__buttons .big-link__icon
    {
        width: 4.5rem;
        height: 4.5rem;
    }


    .articles .content-grid__buttons .big-link__icon .svgsprite
    {
        width: 3.1rem;
        height: 3.1rem;
    }


    .articles .library-card,
    .articles .news-card
    {
        min-height: 350px;

        grid-column: auto;
        aspect-ratio: auto;
    }


    .articles .library-card__info
    {
        width: 41.5rem;
    }
}



@media print,
(max-width: 767px)
{
    .article_info
    {
        margin-bottom: 7.2rem;
    }


    .article_info .head
    {
        margin-bottom: 2rem;
    }


    .article_info .head .tags
    {
        width: 100%;
    }


    .article_info .head .time
    {
        margin-left: 0;
    }


    .article_info .head .time,
    .article_info .head .date
    {
        margin-top: 1rem;

        font-size: 1.3rem;

        letter-spacing: .013rem;
    }


    .article_info .head .time .icon,
    .article_info .head .date .icon
    {
        width: 2.3rem;
        height: 2.3rem;
    }


    .article_info .head .author
    {
        margin-top: 1.6rem;
    }


    .article_info .author .photo
    {
        width: 4.2rem;
        height: 4.2rem;
    }


    .article_info .author .photo + *
    {
        max-width: calc(100% - 6.8rem);
    }


    .article_info .author .name
    {
        font-size: 1.6rem;

        letter-spacing: -.016rem;
    }


    .article_info .content-page__rte .message
    {
        margin-block: 3.2rem;
        padding-block: 2rem;
        padding-inline: 2rem;
    }


    .article_info .content-slider,
    .article_info .video-common,
    .article_info .doc-slider,
    .article_info .content-pics-grid,
    .article_info .content-quote
    {
        margin-block: 3.2rem;
    }



    .articles .block_title
    {
        margin-bottom: 2.8rem;

        font-size: 2.8rem;

        letter-spacing: -.028rem;
    }



    .articles .library-card:not(._large),
    .articles .library-card,
    .articles .news-card
    {
        min-height: 0;
    }



    .articles .news-card__date,
    .articles .library-card__date
    {
        top: 1rem;
        right: 1rem;
    }


    .articles .news-card
    {
        position: relative;

        padding: 0;

        border-radius: 0;
        background: none;
    }


    .articles .news-card__picture
    {
        position: relative;

        overflow: hidden;

        width: 100%;
        height: 207px;

        border-radius: 1.2rem;
    }


    .articles .news-card__tags-wrapper
    {
        position: static;
    }


    .articles .news-card__tags
    {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }


    .articles .library-card__info,
    .articles .library-card .library-card__info
    {
        width: 100%;
    }


    .articles .library-card .library-card__info,
    .articles .library-card__info__header
    {
        position: static;
    }


    .articles .library-card__info__header,
    .articles .library-card__info__footer,
    .articles .library-card__text
    {
        width: 100%;
    }


    .articles .news-card__text,
    .articles .library-card__title
    {
        position: relative;

        width: 100%;
        margin-top: 1.2rem;
        padding: 1.4rem;

        font-size: 1.6rem;

        color: #18181e;
        border: 1px solid rgba(24, 24, 30, .10);
        border-radius: 1rem;
    }
}
